name: Build and push image and chart
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NAME: testapp
  IMAGE_REPOSITORY: oci://europe-north1-docker.pkg.dev/nais-io/nais

jobs:
  test:
    name: Check pull request
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          cache_key_prefix: mise-test
      - run: mise run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          cache_key_prefix: mise-lint
      - run: mise run check:staticcheck
      - run: mise run check:vulncheck
      - name: Check code format
        run: |
          mise run fmt
          echo "checking for diff after running formatters, if this fails, run 'mise run fmt'"
          git diff --exit-code --name-only

  build_push:
    permissions:
      contents: read
      id-token: write
    if: github.triggering_actor != 'dependabot[bot]'
    name: Build and push
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
    outputs:
      version: ${{ steps.build-push-sign.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          cache_key_prefix: mise-build-push
      - run: mise run build:release
      - uses: nais/platform-build-push-sign@main
        id: build-push-sign
        with:
          name: testapp
          dockerfile: Dockerfile.ci
          google_service_account: gh-testapp
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: ${{ github.ref == 'refs/heads/main' }}
